ipywidgets==7.7.1
pandas<2.2.0  # As cudf requires pandas <2.2
numpy<2.0.0  # As many dependencies are incompatible with numpy 2.0.2
gensim<4.4.0
langchain<0.3.5  # To stay compatible with numpy<2.0
matplotlib<3.8.0
tf-keras<2.17.0  # tf-keras requires tensorflow<2.18
tensorflow<2.18
torch==2.5.0  # Compatible with torchaudio and torchvision
torchvision==0.20.0+cu121  # Compatible with torch 2.5.0 and CUDA 12
torchaudio==2.5.0+cu121
yfinance==0.2.48
transformers==4.31.0